

    <footer class="footer1">   
<div class="block1">
    <ul>

       
        <li> <h1>About UGI</h1></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Why United</a></li>
        <li><a href="#">Vision & Mission</a></li>
        <li><a href="#">Advisory Concil</a></li>
        <li><a href="#">Milestones</a></li>
        <li><a href="#">Milestones</a></li>
        </ul>

        <ul>
            
            <li><h1>Allahabad <br> Institution</h1></li>
        <li><a href="#">United College of Engineering & Research</a></li>
        <li><a href="#">United Institute of Management</a></li>
        <li><a href="#">United Institute of Management <br>(Undergraduate Studies)</a></li>
        <li><a href="#">Advisory Concil</a></li>
        <li><a href="#">United Institute of Technology</a></li>
        <li><a href="#">United Institute of Pharmacy</a></li>
        
        </ul>
           
       
         <ul>
            
            <li><h1>Infra</h1></li>
            <li><a href="https://united.ac.in/general_infra">General Infra</a></li>
            <li><a href="https://united.ac.in/learning_infra">Learning infra</a></li>
            <li><a href="https://united.ac.in/infra_gallery">Infra Gallery</a></li>
            
            </ul>

            <ul>
            <li><h1>Allahabad<br> Courses</h1></li>
            <li><a href="#"> B.TECH</a></li>
            <li><a href="#"> DIPLOMA ENGINEERING</a></li>
            <li><a href="#">B.PHARM</a></li>
            <li><a href="#">D.Pharm</a></li>
            <li><a href="#">BBA</a></li>
            <li><a href="#">MCA</a></li>
            <li><a href="#">MBA</a></li>
            <li><a href="#"> M.Pharm</a></li>
            <li><a href="#"> M.Tech</a></li>
            
            
            </ul>
            <ul>
                
                
                <li><h1>Placements</h1></li>
                <li><a href="#">Vision, Mission and Goal</a></li>
                <li><a href="#">Our Placements</a></li>
                <li><a href="#">Our Placed Students</a></li>
                <li><a href="#">Placement Trainning</a></li>
                <li><a href="#">Industry Collaboration & Association</a></li>
                <li><a href="#"> CRC Policy</a></li>
                <li><a href="#"> Foreign tie ups</a></li>
                <li><a href="#"> Placements Activities</a></li>
                <li><a href="#">  Placement Highlights</a></li>
                <li><a href="#"> Photo Gallery</a></li>
                </ul>
    
               
</div>

<!-- <div class="block2">

 <ul>

       
    <li> <h1>Admissions</h1></li>
    <li><a href="#">Fee Structures</a></li>
    <li><a href="#">Anti Ragging</a></li>
    <li><a href="#">Scholarship</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Admission Helpline</a></li>
    <li><a href="#">Global Tie Ups</a></li>
    </ul>

    <ul>
        
        <li><h1>Delhi-NCR Greater<br>Noida <br> Institution</h1></li>
    <li><a href="#">United College of Engineering & Research</a></li>
    <li><a href="#">United Institute of Management</a></li>
    <li><a href="#">United Institute of Management <br>(Undergraduate Studies)</a></li>
    <li><a href="#">Advisory Concil</a></li>
    <li><a href="#">United Institute of Technology</a></li>
    <li><a href="#">United Institute of Pharmacy</a></li>
    
    </ul>
       

    <ul>
        
        <li><h1>Lif@ UGI</h1></li>
        <li><a href="#"> Blogs</a></li>
        <li><a href="#">Campus Buzz</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#"> photo Gallery</a></li>
        <li><a href="#">United In News</a></li>
        <li><a href="#">Student Corner</a></li>
        <li><a href="#">Contact Us</a></li>
        
    </ul>

    <ul>
        <li><h1>Greater Noida <br> Courses</h1></li>
        <li><a href="#">B.TECH</a></li>
        <li><a href="#">M.Tech</a></li>
        <li><a href="#">B.PHARM</a></li>
        <li><a href="#">D.Pharm</a></li>
        <li><a href="#">BBA</a></li>
        <li><a href="#">BCA</a></li>
        <li><a href="#">MCA</a></li>
        <li><a href="#">MBA</a></li>
        <li><a href="#">BAJMC</a></li>
        <li><a href="#"> BBA (LLB)</a></li>
        <li><a href="#">BA (LLB)</a></li>
        
        
    </ul>
        <ul>
            
            
            <li><h1>Downloads</h1></li>
            <li><a href="#">Admissions Form</a></li>
            <li><a href="#">Scholarship Form</a></li>
            <li><a href="#">Bank Pay In Slip</a></li>
            <li><a href="#">Placement Trainning</a></li>
            <li><a href="#">The Unitian Newsletter</a></li>
    
        </ul>

          
</div> -->
<hr>
<div class="block3">
    
                <div class="soial-btn">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-skype"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
            </div>

             <div class="copyright">
               <p>&copy copyright</p>
             </div>
             <div class="designby">
                <p>Design by @Rohit Manas Abhay</p>
             </div>
    
</div>
</footer>