<!-- 
<header>
    <section class="section1">
     <div class="block1">
         
             <navbar class="navbar">
                 <img src="\images\unitedlogo.png" alt="unitedlogo" class="logoimg" hrf="#">
                 <ul class="nav-menu">
                    <li class="nav-item"><button type="button" class="nav-btn"><a href="https://united.ac.in/" class="nav-link">Home</a></button></li>
                    <li class="nav-item"><button type="button" class="nav-btn"><a href="#"class="nav-link">Institute</a></button></li>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="#"class="nav-link">Department</a></button></li>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="#"class="nav-link">Academy</a></button></li>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="#"class="nav-link">Facilities</a></button></li>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="#"class="nav-link">Contact</a></button></li>
                   <%if(locals.user){%>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="/users/sign-In"class="nav-link">SignIn</a></button></li>
                   <li class="nav-item"><button type="button" class="nav-btn"><a href="/users/sign-out"class="nav-link">SignOut</a></button></li>
                   <% }else{ %>
                    <li class="nav-item"><button type="button" class="nav-btn"><a href="/users/sign-In"class="nav-link">SignIn</a></button></li>
                    <li class="nav-item"><button type="button" class="nav-btn"><a href="/users/sign-up"class="nav-link">SignUp</a></button></li>
                    <% } %>

                </ul>

            
                <div class="hamburger">
 
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                
                </div>
      
                </navbar>
         </div>
                 <div class="block2">
               
         </div>

         
     </div>

                 
    </section>
 </header> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-f2QkZz+JijIVcE1aAfkmLrH+9Cn98vJNLdtzO8CEIZ2wH0ZaLJc6OYiKrmMTPGH9pMfz5R6U5f6I01H6Ukkxbw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-/NpGqn9Q3FQvKFJanDzF8sZs4PpLVpG1n0Wd10S1T+K9T9nLvJzcXp8hKJo7Z9Fw" crossorigin="anonymous"></script>

<header>
  <nav class="navbar">
    <a href="#" class="logo-link"><img src="\images\unitedlogo.png" alt="United logo" class="logo"></a>
    <!-- <button class="navbar-toggler " type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="navbar-collapse ">
      <ul class="nav-menu">
        <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
        <li class="nav-item"><a href="https://www.united.ac.in/" class="nav-link"><i class="fas fa-university"></i> Institute</a></li>
        <li class="nav-item"><a href="https://www.united.ac.in/" class="nav-link"><i class="fas fa-graduation-cap"></i> Department</a></li>
        <li class="nav-item"><a href="https://www.united.ac.in/uit/Library.php#" class="nav-link"><i class="fas fa-book"></i> Academy</a></li>
        <li class="nav-item"><a href="https://www.united.ac.in/uit/Library.php" class="nav-link"><i class="fas fa-building"></i> Facilities</a></li>
        <li class="nav-item"><a href="https://united.ac.in/contact-Us" class="nav-link"><i class="fas fa-envelope"></i> Contact</a></li>
        <%if(locals.user){%>
        <li class="nav-item"><a href="/users/sign-In" class="nav-link"><i class="fas fa-sign-in-alt"></i><%=locals.user.name%></a></li>
        <li class="nav-item"><a href="/users/sign-out" class="nav-link"><i class="fas fa-sign-out-alt"></i> SignOut</a></li>
        <% }else{ %>
        <li class="nav-item"><a href="/users/sign-In" class="nav-link"><i class="fas fa-sign-in-alt"></i> SignIn</a></li>
        <li class="nav-item"><a href="/users/sign-up" class="nav-link"><i class="fas fa-user-plus"></i> SignUp</a></li>
        <% } %>
      </ul>
      
    </div>
    <div class="hamburger">
 
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    
    </div>
  </nav>
</header>


  <script src="/js/_header.js"></script>