<link rel="stylesheet" href="/css/addfaculty.css">

<div class="addfacultycontainer">
    
        <h1 class="addfacultyheading">
            Add your Faculties
        </h1>
    
    
    <div class="addfacultyform">
    
    <form action="/facultycard/create" id="new-facultycard-form"          method="POST"id="addfaculty"class="addfacultygroup">
              <label for="name" class="facultylable">Name:</label><br>
              <input type="text" name="name" id="designation" required><br>
             <label for="designation" class="facultylable">Designation:</label><br>
             <input type="text" name="designation" id="designation" required><br>
             <label for="qualification"class="facultylable">Qualification:</label><br>
             <input type="text" name="qualification" id="designation"required><br>
             <label for="areaOfInterest"class="facultylable">Area of Interest:</label><br>
             <input type="text" name="areaOfInterest" id="designation"required><br>
             <label for="phone"class="facultylable">PhoneNo:</label><br>
             <input type="text" name="phone" id="designation"required><br>
             <label for="email" class="facultylable">Email:</label><br>
             <input type="email" name="email" id="designation" required><br>
             <label for="facultyId" class="facultylable">FacultyID:</label><br>
             <input type="password" name="facultyId" id="designation" required><br>
             <input type="submit" value="+Add Faculty"id="addfacultyButton">
 </form>
    </div>
</div>
