<div class="cardfacultysignin">

    <div class="formarea">
    <form action="/facultycard/cardfacultycreateSession" method="post" id="form1">
        <!-- <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="Email" required> -->
        <label for="facultyId">FacltyID:</label><br>
        <input type="password" name="facultyId" id="password" placeholder="FacultyID" required><br>
        <input type="submit" value="SignIn" class="signup-btn">
     </form>
     </div>



</div>