<link rel="stylesheet" href="/css/checkfaculty.css">
<div class="checkfaculty">
    <div class="checkfacultybutton">
        <div class="faculty">
            <button type="button" class="checkbutton"><a href="/facultycard/cardfacultysign-In">Faculty</a></button>
            
         </div>
         <div class="admin">
                <button type="button"class="checkbutton"><a href="/users/sign-In">Admin</a></button>
         </div>
            
    </div>
    
</div>



</div>