<link rel="stylesheet" href="/css/detailsDashboard.css">
<div class="sidebar">

    <div class="container">
        <div class="profileimg">
           <h2>ProfilimgHere</h2>
        </div>
        <ul class="sidebarButtonList">
    
          <a href="/post/about"><button type="button" class="sidebarButton"><li>About me</li></button></a>
          <a href="/post/newsuadates"><button type="button"class="sidebarButton"><li>news Updates</li></button></a>
          <a href="/post/publication"> <button type="button"class="sidebarButton"><li>publication</li></button></a>
    <a href="/post/presentation"> <button type="button"class="sidebarButton"><li>presentation</li></button></a> 
          <a href="/post/responsbility"> <button type="button"class="sidebarButton"><li>responsbility</li></button></a>
          <a href="/post/contact"><button type="button"class="sidebarButton"><li>About me</li></button></a>
          <a href="/post/cv"><button type="button"class="sidebarButton"><li>contact</li></button></a>
          <a href="/post/leaves"><button type="button"class="sidebarButton"><li>CV</li></button></a>
            </ul>  
    </div>
    </div>