<!-- <style>

    .options
    {
        padding: 100px;
    }
</style>


<div class="facultyOptions">

<div class="options">

<button type="button"><a href="/basicInfo/basicInfoInput">BasicInfromation</a></button>
<button type="button"><a href="/responsiInfo/responsiInfoInput">Responsibilty</a></button>
<button type="button"><a href="/academicInfo/academicInfoInput">otherAcademicAcivement</a></button>
<button type="button"><a href="/thesisSuper/thesisSuperInfoInput">ThesisSuperVised</a></button>
<button type="button"><a href="/imageUpload/uploadProfilePicture">UploadProfilePicture</a></button>
</div>


</div> -->

<link rel="stylesheet" href="/css/facultyInfooptions.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-2QgNPY6G9V6uU6+xgH7IuJ6P13AxpVbOSM8IvQfifU6hLFi6OIf5A5r5D1R5/cwSEoQgrScZI8Nv7Etf21L06A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="facultyOptions">
    <div class="options">
      <button type="button">
        <a href="/basicInfo/basicInfoInput">
          <i class="fas fa-info-circle"></i>
          Basic Information
        </a>
      </button>
      <button type="button">
        <a href="/responsiInfo/responsiInfoInput">
          <i class="fas fa-tasks"></i>
          Responsibility
        </a>
      </button>
      <button type="button">
        <a href="/academicInfo/academicInfoInput">
          <i class="fas fa-graduation-cap"></i>
          Other Academic Achievement
        </a>
      </button>
      <button type="button">
        <a href="/thesisSuper/thesisSuperInfoInput">
          <i class="fas fa-book"></i>
          Thesis Supervised
        </a>
      </button>
      <button type="button">
        <a href="/imageUpload/uploadProfilePicture">
          <i class="fas fa-upload"></i>
          Upload Profile Picture
        </a>
      </button>
    </div>
  </div>
  