<div class="formblock">


    <div class="formarea">
    
            <form action="/users/create-session" method="post" id="form1">
    
           <label for="email">Email</label><br>
           <input type="email" name="email" id="email" placeholder="Email" required>
           <label for="password">Password</label><br>
           <input type="password" name="password" id="password" placeholder="Password" required><br>
           <input type="submit" value="SignIn" class="signup-btn">
        </form>
            
    
    </div>
    
    
    </div>