<!-- <div class="formblock">


    <div class="formarea">
    
            <form action="/users/create-session" method="post" id="form1">
    
           <label for="email">Email</label><br>
           <input type="email" name="email" id="email" placeholder="Email" required>
           <label for="password">Password</label><br>
           <input type="password" name="password" id="password" placeholder="Password" required><br>
           <input type="submit" value="SignIn" class="signup-btn">
        </form>
            
    
    </div>
    
    
    </div> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-2hQVF6OxvMADwG6BcU6O1q6DMZU6BzsUaHzcOgj0ah0xylp8OwjmYfnNUhs0lGgX9Fv2QWZ/5+xE/nRYsk7yMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/faculty_sign_in.css">
<div class="form-wrapper">
    <form action="/users/create-session" method="post" id="form1" class="login-form">
      <h2>Login</h2>
      <div class="input-group">
        <label for="email">
          <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" id="email" placeholder="Email" required>
      </div>
      <div class="input-group">
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>
      <input type="submit" value="Login" class="submit-btn">
    </form>
  </div>
  