<div class="aboutcontain">

    <%- include('detailsDashboard');%>
    <h3>
    
    hii welcome to responsbility page
    <ul>
        <% for(post of post){%>
            <li>
                <%= post.responsbility %>

                
               
            </li>

            
       <% }%>
    </ul>
    
    </h3>

</div>
