*{

    margin:0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #3d1b8d; */
    color:aliceblue 
}

footer.footer1{
    background-color: #3d1b8d;
    
}


div.block1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}


li{
    list-style: none;
    margin: 20px;
}

li a{
    
    text-decoration: none;
    
}

li  a:hover{

    color:greenyellow
}


div.block2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.block3
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


div.block3 a i{
    
    
    font-size:22px;
    margin: 10px 7px;
    color:dimgray;
    gap:10px;
    right:-100;
  }
  
  div.block3 a i:hover{
      color: steelblue;
  }


  @media  (max-width: 768px){

  div.block1,div.block2 ,div.block3
    {
    flex-direction: column;
  }
    
  }
  