
.addfacultycontainer
{
    
    // background-color: aqua;
    height:500px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    
    .addfacultyheading{
        color:brown;
        margin-left:600px;
    }

    .addfacultyform{
        display: flex;
        width:400px;
        height:400px;
        background-color: rgb(232, 232, 236);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
        margin: auto;
        margin-top: 30px;
        
        
    }
    .addfacultygroup
    {
        margin:auto;
       
        
    }
    .facultylable
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color:black;
        
    }

    #addfacultyButton
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color:black;
        background-color: green;
        margin: 30px;
        padding: 10px;
        border-radius: 10px;
    }
    #designation
    {
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    @media (max-width: 768px) {
        .addfacultyheading{
            margin-left:100px;
            color:brown;
        }
    
    }
}


