.facultyOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
 .options button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
 .options button:hover {
    transform: scale(1.1);
  }
  
 .options a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  i {
    font-size: 24px;
    margin-right: 10px;
  }
  