body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.cardcontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.card {
    display: flex;
     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    color:black;
    margin-top: 100px;
  }
  
  .picture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .picture img {
    max-width: 100%;
    height: 150px;
    color:black
  }
  
  .details {
    flex: 1;
    
  }
  
  .details h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color:black;
  }
  
  .details p {
    font-size: 16px;
    margin: 0 0 5px 0;
    color:black;
  }
  
  .button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .button1 {
    display: inline-block;
    background-color: #a8d363;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #cc5500;
  }
  .button1:hover {
    background-color: #a72828;
  }
  